@model Coinify.Web.Models.AutomatedTellerMachine

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AutomatedTellerMachine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alias)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HasNoteDispenser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasNoteDispenser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvaiableBalance)
        </dt>
        <dd>
           @($"$ {Model.AvaiableBalance}")
        </dd>
    </dl>
    <hr />
    <h4>Avaiable Coins</h4>
    <table class="table table-bordered">
        <tr>
            <th>Coin Details</th>
            <th>Amount</th>
            <th>Total Value</th>
        </tr>
        @foreach (var kvp in Model.CoinDictionary)
        {
            <tr>
                <td>
                    @($"Size {kvp.Key.Size}; Value ${kvp.Key.Value}")
                </td>
                <td>
                    @(kvp.Value.ToString())
                </td>
                <td>
                    @($"$ {kvp.Key.Value * kvp.Value}")
                </td>
            </tr>
        }
    </table>
    <strong>
        @Html.DisplayNameFor(model => model.AvaiableCoinBalance): $
        @Html.DisplayFor(model => model.AvaiableCoinBalance)
    </strong>
    <hr />
    <h4>Avaiable Notes</h4>
    <table class="table table-bordered">
        <tr>
            <th>Note Details</th>
            <th>Amount</th>
            <th>Total Value</th>
        </tr>
        @foreach (var kvp in Model.NoteDictionary)
        {
            <tr>
                <td>
                    @($"Value ${kvp.Key.Value}")
                </td>
                <td>
                    @(kvp.Value.ToString())
                </td>
                <td>
                    @($"$ {kvp.Key.Value * kvp.Value}")
                </td>
            </tr>
        }
    </table>
    <strong>
        @Html.DisplayNameFor(model => model.AvaiableNoteBalance): $
        @Html.DisplayFor(model => model.AvaiableNoteBalance)
    </strong>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AutomatedTellerMachineId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
