@model IEnumerable<Coinify.Web.Models.AutomatedTellerMachine>

@{
    ViewData["Title"] = "Index";
    var warnings = TempData["WarningMessage"] as string [] ?? new string[0];
}

<h2>Index</h2>

@if (TempData["SuccessMessage"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["SuccessMessage"]</p>
}


@if (warnings.Length > 0)
{
    @foreach (var message in warnings)
    {
    <p class="alert alert-warning" id="successMessage">
        @message
    </p>
    }
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Alias)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HasNoteDispenser)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Alias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasNoteDispenser)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AutomatedTellerMachineId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AutomatedTellerMachineId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AutomatedTellerMachineId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
