@model IEnumerable<Coinify.Web.Models.Note>

@{
    ViewData["Title"] = "Index";
}

<h2>List Notes</h2>

<p>
    <a asp-action="Create">Create New Note</a>
</p>

@if (TempData["SuccessMessage"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["SuccessMessage"]</p>
}

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Value)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                $@Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NoteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NoteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NoteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
