@model IEnumerable<Coinify.Web.Models.Coin>

@{
    ViewData["Title"] = "Index";
}

<h2>List Coins</h2>

<p>
    <a asp-action="Create">Create New Coin</a>
</p>

@if (TempData["SuccessMessage"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["SuccessMessage"]</p>
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Value)</th>
            <th>@Html.DisplayNameFor(model => model.Size.Size)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                $@Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size.Size)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CoinId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CoinId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CoinId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
