@model IEnumerable<Coinify.Web.Models.Withdraw>

@{
    ViewData["Title"] = "Index";
}

<h2>List of Withdraws</h2>

<p>
    <a asp-action="Create">Create withdraw operation</a>
</p>
<p>
    <a asp-action="Reports">See withdraw reports</a>
</p>

@if (TempData["SuccessMessage"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["SuccessMessage"]</p>
}

@if (TempData["InfoMessages"] != null)
{
    <p class="alert alert-info" id="successMessage">
        @foreach (var message in TempData["InfoMessages"] as string[])
        {
            @message<br>
        }
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WithdrawDate)
            </th>
            <th>
                User Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutomatedTellerMachine.Alias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WithdrawDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AutomatedTellerMachine.Alias)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.WithdrawId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
